nav {
    position: relative;
}
nav::before {
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 1px;
    opacity: .4;
    position: absolute;
    background-color: var(--white-color);
}
nav .navbar-nav a {
    opacity: .5;
    position: relative;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
nav .navbar-nav a.active,
nav .navbar-nav a:hover {
    opacity: 1;
}
@media (min-width: 769px) {
    nav .navbar-nav a::before {
        left: 50%;
        bottom: -5px;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        background-color: var(--red-color);
        border-radius: 50%;
        transform: translateX(-50%);
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
    nav .navbar-nav a.active::before,
    nav .navbar-nav a:hover::before {
        width: 10px;
        height: 10px;
    }
}